<!DOCTYPE html>
<html>
    <head>
        <title>List of Users</title>
        <h1>List of Users</h1>
    </head>
    <style>
        h1{
            align-content: center;
            text-align: center;
            color: azure;
            
        }
        body{
            background-color: orangered;
        }
        .table1{
            width: 30%;
            align-content: center;
            margin: auto;
        }
        table{
            table-layout: auto;
            
            border-collapse: collapse;
           
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <body>
        <div class="table1">
            <table border="3">
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    
                </tr>
            
            <% 
            if(userData.length > 0){
                userData.forEach(function (data) {
                
                %>
                <tr>
                    
                    
                    <td><%=data.email%></td>
                    <td><%=data.firstname%></td>
                    <td><%=data.lastname%></td>
                    <td><%=data.age%></td>
                    
                </tr>
                <%



                })
            }
            
            %>
        </table>
    </div>
    </body>
</html>